.calculator {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 250px;
    width: 250px;

}

.display {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 20px;
    height: 25px;
}

.number {
    background-color: lightblue;
}

.operator {
    background-color: lightcoral;
}

.decimal {
    background-color: lightgray;
}

.equal {
    background-color: lightgray;
}

.clear {
    background-color: lightgray;
}